*{
    padding: 0;
    margin: 0;
    border: 0;
}

body, html{
    height: 100%;
}

.bg{
    background-color: #ffb785;
    min-height: 100%;
}

.container-fluid{
    padding: 0;
}

.jumbotron{
    border-radius: 0 !important;
}

.users{
    height: auto;
    position: relative;
}

.user{
    height: auto;
    width: 800px;
    height: 150px;
    background-color: #f4f4f4;

    margin-bottom: 50px;

    position: relative;
    padding: 0;
}

.user-avatar{
    height: 150px;
    width: 150px;
    background-color: blue;
    background-position: center;
    background-size: cover;

    display: inline-block;
}

.user-name, .user-gender, .user-country{
    display: inline-block;

    font-size: 25px;
    margin-right: 15px;

    position: relative;
    text-align: center;
}

.all_info{
    position: absolute;
    top: 60px;
    left: 200px;
}

.searcher{
    margin-bottom: 50px;
}

#add-user{
    position: fixed;

    bottom: 80px;
    right: 80px;

    background-color: #b50707;
    border-radius: 100%;

    padding-left: 17px;
    padding-right: 17px;

    font-size: 40px;
    color: white;

    cursor: pointer;
}

.modal input{
	display: block;
	text-align: center;
}

.put_user{
    display: inline-block;
    text-align: center;
}